/*----------------GENERAL------------------*/
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    text-align: center;
    color: #4C230A;
}

h2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #4C230A;
}

p,span{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    color: #4C230A;
}

/*----------------INDEX------------------*/



/*----------------CHARACTERES------------------*/

.allTheCards
{
    display: flex;
}

.block_cards
{
    width: 220px;
}

.titreCards
{
    text-align: center;
    margin-top: 0;
}

.descriptionCards
{
    text-align: center;
    margin-top: -25px;
    font-size: 1.3em;
}





/*----------------OEUFS------------------*/


/*----------------FIN1------------------*/


/*----------------FIN2------------------*/


/*----------------FIN3------------------*/