/*----------------GENERAL------------------*/
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    text-align: center;
    color: #4C230A;
}

h2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #4C230A;
}

p,span{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    color: #4C230A;
}

/*----------------INDEX------------------*/



/*----------------CHARACTERES------------------*/



/*----------------OEUFS------------------*/
.containerEggs {
    width: 100vw;
    color: #FFD387;
}

/*----------------FIN1------------------*/
body.fin1{
    width: 100vw;
    background-color: #C4F1BE;
}

/*----------------FIN2------------------*/


/*----------------FIN3------------------*/