/*----------------GENERAL------------------*/
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    text-align: center;
    color: #4C230A;
}

h2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #4C230A;
}

p,span{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    color: #4C230A;
}

/*----------------INDEX------------------*/
.home
{
    background-color: #C4F1BE;
}

.central-home
{
    display: flex;
    justify-content: center;
}

.cersei-center
{
    text-align: center;
}

.cersei-center > p
{
    padding-bottom: -20px;
}

.home-intro-space
{
    margin-left: 100px;
    margin-top: 70px;
}

.home-intro
{
    text-align: left;
}

.btn-home
{
    width: 150px;
    height: 50px;
    background-color: #FFD387;
}

.btn-center {
    display: flex;
    justify-content: space-around;
}
/*----------------CHARACTERES------------------*/



/*----------------OEUFS------------------*/


/*----------------FIN1------------------*/


/*----------------FIN2------------------*/


/*----------------FIN3------------------*/